<div class="container">
  <div class="card">
  <div class="card-body">
<div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr class="table-head">
            <th>EMPLOYEE_ID</th>
            <th>FIRST_NAME</th>
            <th>LAST_NAME</th>
            <th>EMAIL</th>
            <th>PHONE_NUMBER</th>
            <th>JOB_ID</th>
            <th>DeptID</th>
            <th>ACTION</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let employee of employees | async">
              <td>{{employee.epmloyee_id}}</td>
              <td>{{employee.first_name}}</td>
              <td>{{employee.last_name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.phone_number}}</td>
              <td>{{employee.job_id}}</td>
              <td>{{employee.department_ID}}</td>
              <td>
                <button type="button" class="btn btn-info" (click)="employeeDetail(employee.epmloyee_id,employee.department_ID)">Detail</button>
                <button type="button" class="btn btn-primary" style="margin-left: 10px">Update</button>
                <button type="button" class="btn btn-warning" style="margin-left: 10px">Delete</button>
              </td>
              </tr>
          </tbody>
        </table>
        </div>
        </div>
      </div>
    </div>
  </div>


